@font-face {
  font-family: 'NotoSansJP-Medium';
  src: url('../fonts/NotoSansJP-Medium.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Calibri Bold';
  src: url('../fonts/Calibri-Bold.eot');
  src: url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Calibri-Bold.woff') format('woff'),
  url('../fonts/Calibri-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

